# Basics
*.py[cod]
*.pyc
__pycache__

# Env file
.env

# Logs
*.log
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo
*.pot

# Pycharm
.idea

# Vim

*~
*.swp
*.swo

# npm
node_modules/

# Campass
.sass-cache

# osx .DS_Store
.DS_Store

